.container-panel{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: -1;
}
.panelControl h1{
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px; 
    margin-top: 30px;
    text-align: center;
}
.flex-link{
    display: flex;
    justify-content: space-between;
}
.flex-link a{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb2626;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 15px;
    transition: all 0.5s ease;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
.flex-link a:hover{
    background-color: #9e3535;
}

@media (max-width:550px){
    .flex-link{
        display: block;
        justify-content: center;
    }
    .flex-link a{
        width: 100%;
    }
}