.input{
    width: 420px;
    padding: 8px;
    background-color: #f8f8f8;
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 20px;
}
.input[type=file]{
    background: none;
    border: none;
    color: #fff;
    padding: 0;
}

@media (max-width:500px){
    .input{
        width: 100%;
    }
}